# Server configuration
PORT

# Database url 
DATABASE_URL

# Access token secret key
ACCESS_TOKEN
ACCESS_TOKEN_EXPIRES_IN

# Refresh token secret key
REFRESH_TOKEN
REFRESH_TOKEN_EXPIRES_IN

# SMTP configuration for sending emails
SMTP_HOST
SMTP_PASSWORD
SMTP_SERVICE //"gamil"

SEED_USER_PASSWORD

NODE_ENV